bcrypt == 5.0.0 
cffi == 2.0.0 
cryptography == 48.0.0 
invoke == 3.0.3 
markdown-it-py == 4.2.0
mdurl == 0.1.2
netmiko == 4.7.0 
ntc-templates == 9.1.0 
paramiko == 4.0.0 
pycparser == 3.0 
pygments == 2.20.0
pynacl == 1.6.2 
pyserial == 3.5 
pyyaml == 6.0.3 
rich == 15.0.0 
ruamel.yaml == 0.19.1 
scp == 0.15.0 
textfsm == 2.1.0